<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link
      href="https://fonts.googleapis.com/css?family=Noto Sans HK"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="file:///D:/css/css/all.css" />
    <link rel="stylesheet" href="ex03.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="" class="navtext">Gmail</a>
        <a href="" class="navtext">Images</a>
        <span class="material-icons apps">apps</span>
        <img src="man.png" alt="" class="btn" />
      </nav>
      <div class="main">
        <div class="">
          <img src="google.png" alt="" class="google" />
        </div>
        <div class="searchb">
          <input
            type="text"
            value=""
            placeholder="Search "
            required
          />
          <span class="material-icons searchicon">search</span>

          <img src="voiceicon.jpg" alt="" class="mic" />
        </div>
        
      </div>
    </header>
    
    
    <section class="result">
    <div class="about">About 41,80,00,000 results (0.57 seconds) </div>

        <div class="rs">
            <a href=https://www.geeksforgeeks.org/java/<h2>Java Programmint Langauage -GeeksForGeeks</h2></a>
            <p>J16-Nov-2021 — Java has been one of the most popular programming languages for many years. · Java is Object Oriented. · The Java codes are first compiled into ...
            </p>
        </div>

        <div class="rs">
            <a href="https://www.oracle.com/java/technologies/downloads/">https://www.oracle.com › java › technologies › downlo... <h2>Java Downloads | Oracle</h2></a>
            <p>Download the Java including the latest version 17 LTS on the Java SE Platform. These downloads can be used for any purpose, at no cost, under the Java SE ...
            </p>
        </div>

        <div class="rs">
            <a href="https://www.w3schools.com/java/">https://www.w3schools.com › java <h2>Java Tutorial - W3Schools</h2></a>
            <p>Java is a popular programming language. Java is used to develop mobile apps, web apps, desktop apps, games and much more. Start learning Java now » ...
            </p>
        </div>
    </section>
  </body>
</html>
